<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">back to home</a> |
    <table>
        <tr>
          <th>ID</th>
          <th>Question</th>
          <th>MOdify</th>
          <th>Created Time</th>
          <th>Updated Time</th>
        </tr>
        {{range .Question}}
        <tr>
          <td>{{.ID}}</td>
          <td><a href="/get/question/{{.ID}}/">{{.QuestionText}}</a></td>
          
          <td><a href="/update/question/{{.ID}}/">Edit</a></td>
          <td>{{ago .CreatedAt}}</td>
          <td>{{.CreatedAt|htmlDate}}</td>
          <td>{{ago .UpdatedAt}}</td>
          <td>{{.UpdatedAt|htmlDate}}</td>
        </tr>
        {{end}}
      </table>
</body>
</html>