<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Question</title>
</head>
<body>
    <a href="/">back to home</a> | 
    <a href="/get/question/{{.Form.ID}}/">back to Question</a>

    <h2>Update: {{.Form.QuestionText}}</h2>

    <form action="/update/question/{{.Form.ID}}/" method="post">
        {{.CSRFField}}
        <input type="hidden" name="ID" value="{{.Form.ID}}">
        <input type="hidden" name="UserID" value="{{.Form.UserID}}">
        <label for="QuestionText">Question Text</label>
        <input type="text" name="QuestionText" id="" value="{{.Form.QuestionText}}"> 
        {{with .FormErrors.QuestionText}}
            <p>{{.}}</p>
        {{end}}
        <input type="submit" value="Update">
    </form>
</body>
</html>